
.header{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
    
}

.header img, h1 {
    display: flex;
    vertical-align: middle; /* Điều chỉnh căn giữa theo chiều dọc */
    height: 50px;

}
.header img{
    margin-top: 20px;
}

.container{
    flex-direction: column;
    color: rgb(254, 254, 254);
    margin: auto;
    width: 1150px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    
}

body{
    display: flex;
    margin: 0px;
    background-color: rgb(32, 32, 45);
    background-image: url(img/starry-night-sky-reflection-background-hd-wallpaper-sr10012425-1705222416280-cover.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.mid .pic_profile{
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 270px; 
    width: 270px;
}

.button-17 {
    border-color: rgb(36, 217, 157);
    align-items: center;
    border-radius: 20px;
    width: 90px;
    height: 30px;
}

.button-18{
    border-color: rgb(36, 217, 157);
    border-radius: 20px;
    width: 40px;
    height: 30px;
    background: rgba(27,31,35,255);
}
.button-18 img{
    border-radius: 20px;
    display: block;
    width: 25px;
}

.button-17:hover{
    background-color:rgba(241, 239, 237, 0.805);
    color: rgb(0, 0, 0);
}

/*
.nav-bar{
}
*/

